@import "src/styles/variables";

.business-types {
  padding: 20rem 0;
  text-align: center;
  background-color: $color-dark;
  z-index: -2;
  h2 {
    margin-bottom: 12rem;
  }

  .scroller {
    max-width: 100%;
    overflow-x: scroll;
    padding-bottom: 15rem;

  }

  .corousel {

  }
  .card {
    margin-right: 5rem;
  }
}