@import "src/styles/variables";

section.business-types {
  padding: 15rem 30px 20rem;
  text-align: center;
  position: relative;
  background-color: $color-dark;
  h2 {
    margin-bottom: 10rem;
  }

  .business-swiper {
    padding: 0 30px;
    padding-bottom: 15rem;
    overflow: hidden;
  }

  .swiper-button-next {
    right: 0;
    top: 80px;
  }
  .swiper-button-prev {
    left: 0;
    top: 80px;
  }

  .swiper-slide {
    margin-right: 1rem;
  }

  .right-blur {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -6rem;
    width: 20rem;
    height: 62.6rem;
    background-color: $color-dark;
    filter: blur(60px);
    pointer-events: none;
    z-index: 1;
  }

  .left-blur {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -6rem;
    width: 20rem;
    height: 62.6rem;
    background-color: $color-dark;
    filter: blur(60px);
    pointer-events: none;
    z-index: 1;
  }

  .swiper-pagination-progressbar {
    bottom: 0;
    z-index: 2;
    width: 50%;
    max-width: 322px;
    left: 50%;
    transform: translateX(-50%);
    top: auto;
    border-radius: 2.1rem !important;
  }

  @media (max-width: 770px) {
    padding: 4rem 0;
    .swiper-pagination-progressbar {
      bottom: 1rem;
      width: 70%;
    }
    .business-swiper {
      padding-bottom: 6rem;

    }
  }

  @media (max-width: 576px) {
    h2 {
      font-size: 2.4rem;
      margin-bottom: 3rem;
    }

    .swiper-slide {
      margin-right: 0;
    }

    .business-swiper {
      padding-bottom: 6rem;
    }

    .left-blur,.right-blur {
      width: 10rem;

    }
  }
}
