.animate__fade-in {
  animation: ease-in 0.3s fadeIn;
  animation-iteration-count: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-delay {
  animation-delay: 0.5s;
}
