@font-face {
  font-family: "Inter";
  src: url("../fonts/IntegralCF-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter-medium";
  src: url("../fonts/IntegralCF-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter-bold";
  src: url("../fonts/IntegralCF-Heavy.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
