@import "./variables.scss";
@import "./fonts.scss";
@import "./utils.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $color-black;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: $color-white;
  height: 100%;
  width: 100%;
}

h1,
h2 {
  font-weight: 800;
}

h1 {
  font-size: 3.4rem;
}
h2 {
  font-size: 4.8rem;
}
h3 {
  font-size: 4rem;
}

p {
  font-size: 1.5rem;
  line-height: 1.7em;
  font-weight: 400;
  @media (max-width: 576px) {
    font-size: 1.4rem;
  }
}

button {
  font-family: "Poppins", sans-serif;
}

// swiper styles
.swiper-button-next,
.swiper-button-prev {
  color: $color-white !important;
  &:after {
    font-size: 4rem !important;

    @media (max-width: 576px) {
      font-size: 2rem !important;
    }
  }
}

.swiper-button-disabled {
  visibility: hidden !important;
}

.swiper-pagination-progressbar {
  .swiper-pagination-progressbar-fill {
    background-color: $color-white !important;
    border-radius: 2.1rem !important;
  }
  border-radius: 2.1rem !important;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.6rem;
  }
}

// Animation text

.animText {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: $color-white;
  z-index: 6;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  min-width: 100%;
  white-space: nowrap;
  padding: 10px 0;
  &Line {
    display: flex;
    flex-shrink: 0;
    color: $color-dark;
    font-weight: 800;
    font-size: 3.6rem;
    line-height: 1;
    font-family: "IntegralCF";
    padding: 0 5px;
    text-transform: uppercase;
    position: relative;
    top: -5px;
    transform: translateX(0);
    animation: animText 20s linear infinite;
  }
}

@keyframes animText {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@media (max-width: 767px) {
  .animTextLine {
    font-size: 2rem;
    top: -3px;
  }
}
