@import "./variables.scss";
@import "./fonts.scss";
@import "./utils.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $color-black;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: $color-white;
  height: 100%;
  width: 100%;
}

h1,
h2 {
  font-weight: 800;
}

h1 {
  font-size: 3.4rem;
}
h2 {
  font-size: 4.8rem;
}
h3 {
  font-size: 4rem;
}

p {
  font-size: 1.5rem;
  line-height: 1.7em;
  font-weight: 400;
  @media (max-width: 576px) {
    font-size: 1.4rem;
  }
}

button {
  font-family: "Poppins", sans-serif;
}

// swiper styles
.swiper-button-next,
.swiper-button-prev {
  color: $color-white !important;
  &:after {
    font-size: 4rem !important;

    @media (max-width: 576px) {
      font-size: 2rem !important;
    }
  }
}

.swiper-button-disabled {
  visibility: hidden !important;
}

.swiper-pagination-progressbar {
  .swiper-pagination-progressbar-fill {
    background-color: $color-white !important;
    border-radius: 2.1rem !important;
  }
  border-radius: 2.1rem !important;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.6rem;
  }
}
