// colors

$linear-gold: linear-gradient(
  90deg,
  #7a7a7a 0%,
  #bd9555 30%,
  #d7c982 51.45%,
  #fcefcf 63.52%,
  #e1b16e 77.59%,
  #9a783a 100%
);
$color-dark: #18191f;
$color-dark-2: #151515;
$color-white: #fff;
$color-text-primary: #2c2c2c;
$color-text-secondary: #878787;
$color-black: #000;
$color-gray: #E5E5E5;


.light {
  $color-dark: #fff;
  $color-black: #fff;
  $color-white: #000;
}

