@import "../../styles/variables.scss";
.about {
  padding: 12rem 0 10rem;

  &-wrap {
    animation-delay: 0.5s;
  }

  &Img {
    width: 50%;
    gap: 20px;
    &-top {
      gap: 20px;
      align-items: flex-end;

      // .aboutImg-item {
      //   &:nth-of-type(1) img {
      //     max-width: 250px;
      //     max-height: 334px;
      //   }

      //   &:nth-of-type(2) img {
      //     max-width: 270px;
      //     max-height: 270px;
      //   }
      // }
    }
    &-bottom {
      gap: 20px;
      div {
        flex: none;
        &:first-child {
          @media (max-width: 375px) {
            flex: 30%;
          }
        }
        &:last-child {
          flex: 50%;
        }
      }

      // .aboutImg-item {
      //   &:nth-of-type(1) img {
      //     max-width: 264px;
      //     max-height: 285px;
      //   }

      //   &:nth-of-type(2) img {
      //     max-width: 356px;
      //     max-height: 356px;
      //   }
      // }
    }
    &-item {
      flex: 0 0 calc(50% - 10px);
      position: relative;
      max-width: 356px;

      img {
        transition: all 0.3s ease;
        object-fit: contain;
      }

      &.animated {
        @media (min-width: 1200px) {
          &:hover {
            img {
              position: relative;
              transform: scale(1.5);
              // outline: 5px solid #e1b16e;
              // outline-offset: 10px;
              border-image: $linear-gold;
              padding: 4px;
              border-width: 5px;
              border-style: solid;
              border-image-slice: 1;
              z-index: 2;
              height: max-content;
            }

            // &:before {
            //   content: "";
            //   position: absolute;
            //   top: 0;
            //   right: 0;
            //   bottom: 0;
            //   left: 0;
            //   z-index: -1;
            //   margin: -5px;
            //   border-radius: inherit;
            //   background: $linear-gold;
            // }
          }
        }
      }
    }
  }

  &Teaser {
    width: 50%;
    margin-top: 6.5rem;
    &-title {
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      margin-bottom: 1.5rem;
    }
    p {
      font-size: 1.8rem;

      @media (max-width: 576px) {
        font-size: 1.2rem;
      }
    }
  }
  .counter {
    margin-top: 7.5rem;
    gap: 30px;
    &-item {
      flex: calc(50% - 20px);
      position: relative;
      padding-bottom: 2rem;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 3px;
        background: linear-gradient(
          90deg,
          #7a7a7a 0%,
          #bd9555 30%,
          #d7c982 51.45%,
          #fcefcf 63.52%,
          #e1b16e 77.59%,
          #9a783a 100%
        );
      }
    }
    &-numb {
      font-size: 4.8rem;
      font-weight: 800;
    }
    &-title {
      font-size: 1.6rem;
      background: linear-gradient(
        90deg,
        #7a7a7a 0%,
        #bd9555 30%,
        #d7c982 51.45%,
        #fcefcf 63.52%,
        #e1b16e 77.59%,
        #9a783a 100%
      );
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
    }
  }
}

@media (max-width: 991px) {
  .about {
    padding: 5rem 0 6rem;
    &-wrap {
      flex-direction: column;
      align-items: center;
    }
    &Teaser,
    &Img {
      margin-top: 2rem;
      width: auto;
      max-width: 600px;
    }
    .counter {
      margin-top: 3rem;
    }
  }
}
