@import "src/styles/variables";

.contact-section {
  //background-color: $color-dark;

  &.with-anim-text {
    padding-top: 10rem;
    @media (max-width: 576px) {
      padding-top: 4rem;
    }
  }

  position: relative;
  h2 {
    font-size: 2.4rem;
    text-align: center;
    font-weight: 700;
  }
  h4 {
    font-size: 2rem;
    margin-bottom: 2.6rem;
    font-weight: 500;
  }
  .contact-box {
    position: relative;
    max-width: 95rem;
    margin: 0 auto 5rem;
    border-radius: 1rem;
    padding: 3rem;
    font-family: 'Poppins', sans-serif;
    background-clip: padding-box;
    color: #FFF;
    background: $color-dark-2;
    background-clip: padding-box;
    border: 2px solid transparent;

    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      margin: -2px;
      border-radius: inherit;
      background: $linear-gold;
    }


    .address-box {
        font-weight: 400;
        font-size: 1.6rem;
      address {
        font-style: normal;
      }
      a {
        margin-top: 2rem;

      }
    }

    .socials {
      display: flex;
      .social-icon {
        height: 1.6rem;


        &:not(:last-child) {
          margin-right: 1.5rem;
        }
      }
    }

    .map-box {
      img {
        width: 34.8rem;
        max-width: 100%;
      }
      margin-top: 3rem;
    }
  }


  @media (max-width: 576px) {



    h2 {
      text-align: left;

    }

    .contact-box {
      background-color: transparent;
      padding-left: 0;
      padding-right: 0;


      form input,textarea {
        background-color: $color-black;

        &:focus ~ label {
          background-color: $color-black;
        }
      }

      &:before {
        display: none;
      }

      .inputs-wrapper {
        h4 {
          font-size: 1.2rem;
        }
        width: 100%;
      }
    }
  }
}