@import "src/styles/variables";
$border: 2px;
.business-card {
  padding: 5px;
  min-width: 170px;
  min-height: 170px;
  max-height: 170px;
  max-width: 170px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  color: #FFF;
  background: $color-dark;
  background-clip: padding-box;
  border: solid $border transparent;
  border-radius: 10px;

  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -$border;
    border-radius: inherit;
    background: $linear-gold;
  }
  p {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 1.5rem;
  }
  img {
    max-width: 100%;
  }
}