@import "src/styles/variables";

section.club-members {
  padding: 20rem 0;
  position: relative;
  background-color: $color-dark;
  z-index: 0;
  @media (max-width: 768px) {
    padding: 5rem 0;
  }

  @media (max-width: 576px) {
    h2 {
      font-size: 1.8rem;
      text-align: center;
    }
  }

  .right-arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20rem;
    padding: 1rem;
    border: 1px solid transparent;

    &:hover {
      border: 1px solid #fff;
    }
  }

  .circles {
    z-index: -1;
    position: absolute;
    top: 4rem;
    left: 0;

    @media (max-width: 768px) {
      max-width: 200px;
      left: 0;
      top: 2rem;
    }
  }

  .current-member {
    display: flex;

    &-img {
      max-width: 40%;
    }

    &-details {
      width: 90%;
      margin-left: 10rem;
      h3 {
        font-size: 4.3rem;
        font-weight: 800;
        margin-bottom: 0.8rem;
      }

      p {
        max-width: 45rem;
        font-size: 1.8rem;
        line-height: 3.2rem;
      }

      button {
        border-radius: 0;
        font-size: 1.8rem;
      }

      .website-link {
        font-size: 1.8rem;
        transition: all 0.3s ease;
        margin-left: 30px;
        &:hover {
          transform: translate(10px);
        }
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;

      &-img {
        margin: 0 auto;
        margin-bottom: 3rem;
        max-width: 70%;
      }

      &-details {
        margin-left: 0;
      }
    }

    @media (max-width: 576px) {
      flex-direction: column;

      &-img {
        margin-bottom: 3rem;
        max-width: 100%;
      }

      .website-link {
        margin-left: 2.4rem;
      }

      &-details {
        width: 100%;
        margin-left: 0;
        padding: 0 2rem;
        h3 {
          font-size: 2.4rem;
        }

        p,
        .website-link,
        button {
          font-size: 1.2rem;
        }

        p {
          line-height: 1.6rem;
        }
      }
    }
  }

  .members {
    position: relative;
    margin-top: 6rem;
    max-width: 100%;
    overflow: hidden;
    z-index: 1;
    .each-member {
      width: 100%;
      cursor: pointer;
      transition: all 1s ease;
      &:hover {
        transform: translateY(-0.5rem);
      }
    }

    .overlay {
      position: absolute;
      bottom: -70px;
      left: -20px;
      right: -20px;
      height: 10rem;
      z-index: 2;
      background-color: $color-dark;
      filter: blur(21px);
      pointer-events: none;
    }
  }
}

.swiper {
  padding-top: 20px;
  &-slide {
    &-thumb {
      &-active {
        .each-member {
          transform: translateY(-0.5rem);
          z-index: 2;

        }
        img {
          filter: grayscale(0.3);
          transition: 0.2s ease;
        }
      }
    }
  }
}



.mySwiper {
  position: relative;
  &::after {
    content: "";
    box-shadow: 37px 0 120px 140px rgba(24, 25, 31, 0.7);
    top: 0;
    margin-left: -30px;
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 1;
  }
  &::before {
    content: "";
    box-shadow: 37px 0 120px 140px rgba(24, 25, 31, 0.7);
    top: 0;
    right: 0;
    margin-right: -30px;
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 2;
  }
}
