@import "../../styles/variables.scss";

.animText {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: $color-white;
  z-index: 6;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  min-width: 100%;
  white-space: nowrap;
  padding: 10px 0;
  &Line {
    display: flex;
    flex-shrink: 0;
    color: $color-dark;
    font-weight: 800;
    font-size: 3.6rem;
    line-height: 1;
    font-family: "IntegralCF";
    padding: 0 5px;
    word-spacing: 5px;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    top: -5px;
    transform: translateX(0);
    animation: animText 20s linear infinite;
  }

  @media (max-width: 576px) {
    padding: 8px 0;
  }
}

@keyframes animText {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@media (max-width: 767px) {
  .animTextLine {
    font-size: 2rem;
    top: -3px;
  }
}
